<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lib.mylibrary">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity
            android:name="com.lib.mylibrary.ui.feature_loyalty_home.presentation.LoyaltyHubActivity"
            android:exported="false"
            android:theme="@style/LibraryTheme"/>
    </application>

</manifest>